<ul>
  <% @cart.errors.messages.each do |message_array| %>
    <li><%= message_array[1][0] %></li>
  <% end %>
</ul>
<%= form_for @cart do |f| %>
  <h1>Tacos</h1>
  <%= f.collection_check_boxes(:taco_ids, Taco.all, :id, :name, include_hidden: false) do |b| %>
    <div class="Home--Taco">
      <%= b.label("data-value": b.value) { b.check_box + b.text } %>
    </div>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>